data
notebooks
__pycache__
.pdm-python
*.egg-info

nbs/**.html
nbs/vns_files

profile_report.html
_modidx.py

.gitconfig

.quarto
build

.venv
.micromamba

dist
_proc
nbs/_docs
.micromamba
.pixi

assets

# Added by cargo

/target

figures

.Trash-1000

.ipynb_checkpoints

nbs/dash_files

.hatch
.cache
.local
.docker